<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Setting</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#BinanceSetting" data-toggle="collapse" aria-expanded="true">Binance</a>
            <ul class="collapse list-unstyled show" id="BinanceSetting">
                <li>
                    <a href="/binance/apikey">Manage API Key</a>
                </li>
                <li>
                    <a href="https://www.binance.com/en/my/settings/api-management" target="_blank">API
                        Manager(external)</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#FTXSetting" data-toggle="collapse" aria-expanded="true">FTX</a>
            <ul class="collapse list-unstyled show" id="FTXSetting">
                <li>
                    <a href="/ftx/apikey">Manage API Key</a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false">Account</a>
            <ul class="collapse list-unstyled show" id="accountSubmenu">
                <li>
                    <a href="/account/resetpwd">Reset Password</a>
                </li>
                <li>
                    <a href="/account/logout">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>