<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Setting</h3>
    </div>

    <ul class="list-unstyled components">
        <!-- <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="https://google.com">Google</a>
                </li>
            </ul>
        </li> -->
        <li>
            <a href="#BinanceSetting" data-toggle="collapse" aria-expanded="false">Binance</a>
            <ul class="collapse list-unstyled" id="BinanceSetting">
                <li>
                    <a href="/binance/set_apikey">Set API Key</a>
                </li>
                <li>
                    <a href="/binance/test_apikey">Test API</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#FTXSetting" data-toggle="collapse" aria-expanded="false">FTX</a>
            <ul class="collapse list-unstyled" id="FTXSetting">
                <li>
                    <a href="/ftx/set_apikey">Set API Key</a>
                </li>
                <li>
                    <a href="/ftx/test_apikey">Test API</a>
                </li>
            </ul>
        </li>
        <!-- <li>
            <a href="/setting/portfolio">Portfolio</a>
        </li> -->
        <!-- <li>
            <a href="/setting/contact">Contact</a>
        </li> -->
    </ul>
</nav>