{% extends "base.html" %}
{% set active_page = "posts" %}

{% block title %}Posts{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap">Posts</h1>

<h3>New Post</h3>
<form action="/posts" method="post">
    <input type="text" name="text" value="" required />
    <input type="submit">
</form>

<table class="table table-hover">
    <thead>
        <tr><th>NO.</th><th>Content</th></tr>
    </thead>
    <tbody>
{% for item in result %}
    <tr><td>{{  loop.index }}</td><td>{{ item.text }}</td></tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}